[2017-06-26 16:25] marutypes opened #4 "Pull out `ShopifyAuth` into it's own express middleware package."
The `Auth` module is pretty self contained. We should take a pass at cleaning it up and then pull it out into it's own npm package under the `@shopify` namespace

[2017-06-26 16:27] marutypes opened #5 "Add Prettier"
Use prettier <3

[2017-06-26 16:28] marutypes opened #6 "Add example webhook?"
title

[2017-06-26 16:30] marutypes opened #7 "Use repository pattern (data access facade?) for storing data"
We should hide our data implementation behind a repository pattern if we can.

It might also be worth it to switch our default implementation to sequelize.

[2017-06-26 16:31] marutypes opened #8 "Probably we should hmac our redis user id token thing"
title

[2017-06-26 16:35] marutypes opened #9 "Better api proxy"
The current api proxy is super hacky. We need to make it better. The existing express middlewares I found all had one or more flaws (mostly around rewriting the target url with the correct shop), but there is probably a way to get it working. Worst case this thing should still be replaced or at least extended to be more of a true proxy and less of a hack.

[2017-06-26 16:36] marutypes opened #10 "Replace `request` with a `fetch` polyfill"
title

[2017-06-28 16:57] TheMallen opened #11 "Tests"
We should have tests for everything we intend to pull out into packages (`ShopifyAuth` being the biggest one). We should also minimally add simple stub tests so that partners have a testing scaffold set up that they can use if they want.

[2017-07-05 14:45] AWaselnuk opened #12 "Demonstrate a simple async data flow in Redux"
Use redux-thunk?

[2017-07-05 14:47] AWaselnuk opened #13 "Improve README for new users"
Make it sparkle ✨

[2017-07-07 22:12] marutypes opened #15 "Kill `can't set headers after they are sent` error"
Kill this error with fire
![image](https://user-images.githubusercontent.com/4889856/27978824-d8701caa-633f-11e7-90c2-abcf981c25b3.png)

[2017-07-10 17:07] #5 closed, assigned to marutypes

[2017-07-10 17:07] #9 closed, assigned to marutypes

[2017-07-10 17:07] #10 closed, assigned to nobody

[2017-07-27 20:50] marutypes opened #19 "Production webpack config"
We need a production webpack config that actually builds out the bundles. I think it needs to be for the beta.

[2017-08-03 18:31] #12 closed, assigned to AWaselnuk

[2017-08-03 20:43] AWaselnuk opened #21 "Fix `pretty` script"
Right now, if you execute `yarn run pretty`, it will only target files at the **second** depth level of `client` and server`.

For example:
`client/store/index.js` gets processed because it is two levels deep
`client/App.js` **does not` get processed because it is one level deep

Here is the weird part. If you test the glob pattern in the shell it seems to be fine:

[code]

What do we need to do t

[2017-08-08 19:08] #21 closed, assigned to nobody

[2017-08-09 18:24] #19 closed, assigned to nobody

[2017-08-09 20:29] #15 closed, assigned to marutypes

[2017-08-16 21:07] #6 closed, assigned to nobody

[2017-08-17 21:04] marutypes opened #28 "Get rid of annoying prompt on yarn install"
We need to set an explicit `react-hot-loader` version so that it doesn't annoyingly ask about which version you want every time you `yarn install`

I'm adding it to the `beta` milestone because I don't think it's acceptable to ship with an annoying thing like this, and cus it should be easy to fix.

[2017-08-18 17:15] marutypes opened #29 "Change default session setup to sql"

[2017-08-18 17:30] marutypes opened #30 "Change default shop storage setup to sql"

[2017-08-18 17:30] #29 closed, assigned to nobody

[2017-08-18 20:51] #8 closed, assigned to nobody

[2017-08-18 20:53] marutypes opened #31 "Remove clientToken if possible."
Client token was always a hack, what if we just use the cookie to get access to our session in the fetch requests? It would simplify most of the auth and data layers and make things less convoluted.

[2017-08-18 21:11] #7 closed, assigned to marutypes

[2017-08-18 21:28] TheMallen opened #33 "Build api console for sample app"
Leaving this here as a reminder, but it seems like this would be a small project within the repo or something not just one issue.

[2017-08-18 21:32] marutypes opened #34 "Refactor things that will eventually be in their own node modules to a `packages` directory"
We'll want to do this sooner rather than later so that it's easier to pull them out and they don't become entwined in our implementation. (We'll probably need to un-entwine some things).

[2017-08-18 21:33] TheMallen opened #35 "Address Server Side Rendering"
We should either get SSR working or address why it's not important for an embedded app in our readme (or at least remove the checkbox).

[2017-08-21 22:58] #31 closed, assigned to nobody

[2017-08-25 15:41] AWaselnuk opened #36 "Find people to provide feedback"
We need some internal developers to take the completed boilerplate and README for a spin.
@jamiemtdwyer can you start looking around for some people who might be interested?

We will ask for feedback after the `Boilerplate Beta` milestone is complete.

[2017-08-25 15:42] AWaselnuk opened #37 "Pitch to apps team as a good next step after API client creation"
See if their is an appetite to make this a next step for devs after API client creation.

[2017-08-30 20:21] #34 closed, assigned to kevinhughes27

[2017-08-30 20:41] #4 closed, assigned to nobody

[2017-09-01 19:29] #30 closed, assigned to kevinhughes27

[2017-09-05 14:14] kevinhughes27 opened #41 "Port the Managers from ShopifyApp"
ShopifyApp has useful classes for ensuring the required webhooks, scripttags etc are added to the shop. We should port those classes here.

https://github.com/Shopify/shopify_app/tree/master/lib/shopify_app/managers

[2017-09-05 22:02] #13 closed, assigned to nobody

[2017-09-06 14:50] #28 closed, assigned to nobody

[2017-09-08 22:08] jamiemtdwyer opened #43 "README has no reference to SHOPIFY_APP_STORAGE_ENGINE"
README doesn't mention the storage engine options available.

[2017-09-08 22:14] jamiemtdwyer opened #44 "Default scopes separated by a space"
https://jamie-ds-emporium.myshopify.com/admin/oauth/authorize?client_id=199268859c17ed3b6a96570498c52f37&scope=write_orders,%20write_products&redirect_uri=https://jamied.ngrok.io/auth/shopify/callback

`write_orders,%20write_products`

should not contain a space character, scopes should be separated only by commas

[2017-09-11 20:08] jamiemtdwyer opened #45 "Port is defined twice in sample .env"
Once in the hostname and once in the port option – seems superfluous. I had to remove the port from the hostname in order to get things working.

[2017-09-15 17:22] kaelig opened #46 "Add a license"
Code we distribute like this should probably be under a pretty permissive license - see with legal or @2xbass?

[2017-09-26 17:19] devshahani opened #48 "[shopifyAuth] HMAC validation not sorting URL parameters lexicographically"
In the `callback` route https://github.com/Shopify/shopify-node-app/blob/master/shopify-express/routes/shopifyAuth.js#L40, the hmac validation process doesn’t follow the same steps listed in our docs (https://help.shopify.com/api/getting-started/authentication/oauth#verification).. Specifically, our docs say `The list of key-value pairs is sorted lexicographically`.
Not doing this doesn’t seem to

[2017-09-26 18:05] TheMallen opened #49 "README doesn't explain withWebhook very well"
This should probably explain what it's meant to be used for, eg. `withWebhook is ... for use in routes meant to respond to webhook requests form shopify`

[2017-10-03 16:02] kevinhughes27 opened #50 "Finish adding a webhook to the server example"
We created the proper hook for after install but we didn't complete the example of how to create a webhook:

https://github.com/Shopify/shopify-node-app/blob/master/server/index.js#L33

We're trying to keep the server code simple so I think we should do this without an api client library and write a plain web request to do this.

https://help.shopify.com/api/reference/webhook

[2017-10-31 17:25] devshahani opened #52 "Update Polaris version"
Breadcrumbs are broken in the version of Polaris being used, the issue was fixed in 1.7.0:
https://github.com/Shopify/polaris/issues/116
![](https://screenshot.click/31-24-7zlbw-2rete.gif)

[2017-10-31 18:52] devshahani opened #53 "hotmodulereloading doesn't seem to work"
I cloned the project, did `yarn install` and then ran `yarn dev`.
The Shopify app loads fine in the admin, but I get the following errors in the chrome console:

and

This is usually because the modules which have changed (and their parents) do not know how to hot reload themselves. See http://webpack.github.io/docs/hot-module-replacement-with-webpack.html for more details.

Lmk if there is any ot

[2017-10-31 18:54] devshahani opened #54 "yarn displays a warning for the node version"
When I run the app with `yarn dev` or `yarn run start` the following message is printed in my terminal:

When trying to set the project up with `dev`, I also got a warning there that this node version wasn't compatible with `dev`.

[2017-11-02 02:55] devshahani opened #55 "Redis memory strategy crashes app when trying to save access token"
https://github.com/Shopify/shopify-node-app/blob/master/shopify-express/shopStore/RedisStrategy.js#L15

I got it working by changing `done(null, clientToken);` to `done(null, shopData);`

[2017-11-06 15:57] TheMallen commented on #37
We should close shopify specific issues like this imo.

[2017-11-06 15:57] #36 closed

[2017-11-06 15:58] TheMallen commented on #36
Closing since we've done some feedback gathering and this is now publicly available.

[2017-11-06 15:59] TheMallen commented on #46
Adam just added a license :)

[2017-11-06 15:59] #46 closed

[2017-11-06 15:59] TheMallen commented on #53
Could you open a PR for this? :)

[2017-11-06 16:25] AWaselnuk commented on #37
I agree.

[2017-11-06 16:25] #37 closed

[2017-11-07 16:57] AWaselnuk opened #59 "Resolve `yarn check` errors"
`yarn check` is throwing a bunch of errors, mostly related to polaris. We should make sure the lockfile is properly up to date to avoid these.

Ideally we would have this check run in CI.

[2017-11-07 16:58] AWaselnuk opened #60 "Add CI"
We should add CI to increase our confidence when merging

We still need to write tests #11 but we could leverage CI for things like Yarn check #59 as well.

[2017-11-07 18:00] TheMallen opened #61 "⬆️ Bump node version in the `engine` field to 8.9 LTS"
We should bump the `engine` field of package.json to the new LTS release.

If we do this we can easily switch a number of our promise invocations to use async / await.

Also nvm won't keep getting mad about my node versions :)

[2017-11-08 15:32] #50 closed

[2017-11-11 16:57] kaelig commented on #61
👍 I was just going to suggest the same!

[2017-11-13 20:29] jamiemtdwyer opened #65 "yarn install dies on v8-profiler"
Console dump:

[code]

`yarn cache clean` didn't fix for me.

Removing `node-inspector` from package.json was the only thing that worked for me.

[2017-11-13 21:07] cparadigm commented on #65
Looks like node v6.x is the solution to this issue on OS X.
https://github.com/node-inspector/node-inspector/issues/960

But then you cannot install because of error shopify-node-app@0.0.0: The engine "node" is incompatible with this module. Expected version ">= 8.1.0".

[2017-11-13 21:09] LucasMaliszewski commented on #65
Looks like node v6.x is the solution to this issue on OS X.
node-inspector/node-inspector#960

But then you cannot install because of error shopify-node-app@0.0.0: The engine "node" is incompatible with this module. Expected version ">= 8.1.0".

[2017-11-13 22:00] LucasMaliszewski opened #66 "secret option required for sessions"
After following the guides instructions. There seems to be a disconnect with the service. I've built the simple application that Shopify provides [here](https://help.shopify.com/api/tutorials/building-node-app) with success. However, when running yarn run start|dev, and after having to remove npm-inspector from the settings.json, I'm left with:

[code]

The .env has the correct keys added and URL

[2017-11-13 22:05] #66 closed

[2017-11-13 22:05] LucasMaliszewski commented on #66
Non-issue. Was able to identify the issue and resolve.

[2017-11-14 17:19] TheMallen opened #68 "⬆️ Version bump webpack, react, react-dom"

[2017-11-14 17:27] #65 closed

[2017-11-17 20:44] jamiemtdwyer commented on #55
Should be closed as per https://github.com/Shopify/shopify-express/pull/11 ?

[2017-11-17 20:44] #53 closed

[2017-11-17 20:45] jamiemtdwyer commented on #54
This should be good now that we're on `8.1.0`

[2017-11-17 20:45] #54 closed

[2017-11-19 14:30] franz-see opened #69 "Always redirects to Shopify Node App – Installation"
I tried updating the .env with my data and installed the application on my demo shop. It installs successfully, but everytime I visit the app from the admin screen, it shows the "Shopify Node App – Installation" page.

From ngrok, I do see that it first tries to access "GET /", and then "GET /assets/main.js" and then "GET /install".

I was expecting to see the contents of "app.ejs" but somehow, it

[2017-11-19 19:12] idiazroncero opened #70 "Webhook example not working"
Hi there, many thanks for your amazing work here;

I'be been trying to wrap my head around webhooks using the provided example. I started by registering a new webhook as follows (I omit less meaningful parts of code with [...], they haven't been changed).

[code]

And then use the original example (by manually creating an order, setting it to paid in order to move from "drafted" to "created") to n

[2017-11-19 20:31] idiazroncero commented on #70
I narrowed it down a little bit;

First, the original [shopify-express repo ](https://github.com/Shopify/shopify-express) uses app.use() instead of app.get().  Still, the error is there.

[code]

However, if I comment the Error handlers section (in order to prevent them for catching up), an error related with withWebhook middleware arises:

[code]

It seems that the middleware is unable to access

[2017-11-22 17:40] jballanger opened #71 "Problem with script tags"
Hello,
I'm building an application with shopify-node-app (thanks for your work!) but I can't create any scriptTags and have strange result when I try to read them.

Here is my function client-side :
[code]

which result in `{"error":"419: unexpected token at 'object Object]'"}`,

so I tried to see what happened in shopify-express (shopifyApiProxy.js) and changed `fetchOptions` to this :
[code]

af

[2017-11-28 09:27] jballanger commented on #71
Ok, so it seems the `GET /admin/script_tags.json` endpoint only return scriptTags of **your** app and not all scriptTags of the shop.

For the POST endpoint, this formatting seems to work well:
[code]

Hope this helps.

[2017-11-28 09:27] #71 closed

[2017-11-28 16:30] frankcash commented on #70
I'm also running into this issue.

[2017-11-28 20:40] #33 closed

[2017-12-02 16:03] muhammadfaizan opened #73 "Error in parsing css, in dev environment"
running command `npm run dev` throws this error

[code]

[2017-12-02 16:04] muhammadfaizan commented on #73
I am using windows,
node version `8.9`

[2017-12-03 06:03] tin-tnguyen opened #74 "Unable to load shopify-express module"
I was trying to setup locally with yarn but had this error. Anyone got this?
[code]

[2017-12-03 06:23] #74 closed

[2017-12-05 14:12] AWaselnuk opened #75 "Improve the Polaris component demo with further examples and routing"
When we shipped https://github.com/Shopify/shopify-node-app/pull/47 we removed the original interface demo (a searchable collection of products using `ResourceList`) for an API console (so meta!).

The API console allows us to demo some basic components and data flow. It also allows us to give people the chance to immediately start interacting with Shopify API endpoints. However, I don't think it

[2017-12-05 14:15] AWaselnuk opened #76 "Annotate the UI code with a focus on teaching Polaris and Redux"
@jamiemtdwyer pointed out that a lot of developers might not be familiar with Redux. Since this project aims to teach more about Polaris and Redux, I believe a really effective way to do that quickly is to add code comments that explain key parts of the UI.

Rails does a very good job at this when it generates new files and I think we should borrow heavily from them.

We should tackle #75 before t

[2017-12-06 19:42] jamiemtdwyer commented on #76
Sounds good! As someone barely literate in Redux/React myself, I'm happy to sanity check :D

[2017-12-08 05:30] badoet commented on #73
@AWaselnuk  im encountering the same errors on windows.
Any idea if this is issue on webpack or windows path? or improper environment/tools setup?

[2017-12-10 16:38] tinnguyenz opened #77 "Unable to get accessToken when deploying to Heroku"
I got this error when authoring with client store. The app is deployed to Heroku with current repo's configuration:
`2017-12-10T16:35:12.051144+00:00 app[web.1]: (node:20) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot set property 'accessToken' of undefined
2017-12-10T16:35:12.051267+00:00 app[web.1]: (node:20) [DEP0018] DeprecationWarning: Unha

[2017-12-11 18:43] AWaselnuk commented on #73
I'm not sure off the top of my head so someone will have to investigate further. Thanks so much for raising the issue and letting us know about your OS info!

[2017-12-19 21:44] invertedsoftware commented on #73
This happens to me as well:

Debugger listening on ws://127.0.0.1:12662/160ecd3a-168e-4d6b-bd3e-6024f7ccaea9
For help see https://nodejs.org/en/docs/inspector
Debugger attached.
(node:17352) [DEP0062] DeprecationWarning: `node --inspect --debug-brk` is deprecated. Please use `node --inspect-brk` instead.
express-session deprecated req.secret; provide secret option server\index.js:62:3
webpack buil

[2017-12-19 23:54] IanFergusonZR commented on #73
i see this on windows10, node 8.1 also

kind of seems like a windows issue with the webpack stuff, possibly related to the combination of exclude/include filters on node_modules in the webpack config  - would be great if there is a fix for windows users :) thanks

[2017-12-21 17:11] bestsuperweb opened #81 "Error after installation"
Hello, I am a shopify partner to develop shopify app with node.js and react.js.
I would like to use this source btw there is an error after installation.
![screen shot 2017-12-21 at 12 10 53 pm](https://user-images.githubusercontent.com/21188590/34266658-0681a8bc-e648-11e7-9d1c-6689f89acf0d.png)
`GET /?hmac=dbe08f9c3c07d114ec0840fa21130108b9abafc5bb9c289b219ac41a83e413fd&shop=mydevstore.myshopify.

[2017-12-22 19:58] #81 closed

[2017-12-26 03:06] msanchez5 commented on #61
may i give this a try :) ... all i need to do is remove the engine part of the package.json??

[2017-12-29 21:47] mandyschippers opened #82 "main.js error after install"
After installing the app, the following errors are displayed:

GET https://886af3d7.ngrok.io/assets/main.js net::ERR_CONTENT_LENGTH_MISMATCH
jquery.min.js:2

Uncaught DOMException: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "https://fyndle-favorites.myshopify.com" from accessing a cross-origin frame.
    at contents (chrome-extension://laank

[2017-12-30 14:08] julien-mamalian commented on #77
Hello,
Got the same issue !

[2017-12-31 04:25] DevCabin commented on #82
I'm getting the same error.

[2018-01-02 03:57] jasenguyen commented on #77
@julien-mamalian Cool. I also asked the author of shopify-express for this issue and this is her answer: https://github.com/Shopify/shopify-express/issues/33
Not figured out the solution yet. Hope to work this out with you 👯‍♂️

[2018-01-02 11:07] julien-mamalian commented on #77
This is not complicated to solve it.
When you are in production mode, you need to create a user session for each store with Redis. In the app, the Redis store is not configured and you need to do it.

`const RedisStore = require('connect-redis')(session);
// Add this line on top of index.js
var client = require('redis').createClient(process.env.REDIS_URL);
...
app.use(
  session({
// Add the clien

[2018-01-03 00:37] abohannon opened #84 "{{ HOST }}/ not allowed as app URL"
When setting up a new app according to the documentation, Shopify throws an error if the format isn't a valid url `http://domain.com`

Just curious if this is a recent change and/or how are we able to dynamically set the URL for dev stores when using ngrok.

[2018-01-03 00:38] #84 closed

[2018-01-07 09:33] jasenguyen commented on #77
@julien-mamalian That couldn't be any more awesome Julien. With the help of Redis to Go it works absolutely cool <3

[2018-01-09 23:23] jamiemtdwyer commented on #70
Should be fixed by https://github.com/Shopify/shopify-node-app/pull/80.

[2018-01-09 23:23] #70 closed

[2018-01-10 15:45] TheMallen commented on #73
Just merged @jbaez001 's PR. Should fix this. Feel free to reopen if it persists.

[2018-01-10 15:45] #73 closed

[2018-01-10 21:29] demomohawk opened #86 "Deploy to Heroku gets me Application Error"
How can i deploy to Heroku successfully?

I got the app on my localhost and exposed it with Ngrok. I was able to successfully install it on my development store.

I can't seem to get it running on Heroku though. I followed the steps with heroku create - heroku push etc. as they state in their node.js documentation but I get an Application Error. I also have the Procfile to yarn run start.

    `St

[2018-01-22 01:58] gkrinc commented on #71
Thanks @jballanger! I don't want to say the Shopify API is dumb, but the fact that it can't just accept JSON and has to instead take a string is super lame and caused me hours of frustration.

With EVERY other API I have every worked with I can make a call using `axios`, `fetch` whatever and simply pass in a javascript object as the payload.

Instead with the Shopify API have to `JSON.stringify` t

[2018-01-28 10:45] sbstnmsch commented on #35
Upvote: I got SSR working but have problems getting the `EmbeddedApp` component to work - because server-side there is now window object. Fair enough. I just dropped it for now - lacking support of IFRAME messaging causing my app to sometimes break out the IFRAME. Would be nice to have a SSR solution or documentation for the frame messaging.

[2018-01-29 21:35] mundosk8 commented on #69
Im facing the same problem. Did you manage how to pass over it?

[2018-02-03 15:12] resistorsoftware commented on #75
Or how about this simple one that will surely break a few heads. Add a link in the Admin in say Product Details that when clicked, goes to the App. Show how a route is setup to securely receive said link payload (ie) shop and product ID. Now have that securely authorized request do something with the ID (add, remove a metafield for example) and then redirect the Merchant to an appropriate page. Th

[2018-02-05 18:59] shesko commented on #82
Could you guys please check your node version? I had v8.1.4 and I encountered the same issue. However, after upgrading to v9.4.0 the error stopped occurring.

[2018-02-10 18:00] deanfields opened #88 "Can't access app properly on two separate Shopify stores"
Hi,

I've been playing around and creating an app with this example. (I'm newish to React/Express) However, I tried installing it on two different Shopify stores at the same time and have come stuck in an issue. Whenever I install the app, it uses the last stores shopOrigin for both Shopify stores. This stops me from being able to open the Resource Picker on the first app.

This message is shown w

[2018-02-15 12:45] coinpusha commented on #69
I had this issue before.  Make sure your app url in shopify isn't pointing to the /install directory and make sure the url ends with a /.  I hope that helps someone.

[2018-02-27 06:45] theptrk commented on #77
I did this and I also set `SHOPIFY_APP_STORAGE_ENGINE` to `redis` in the config variables but I'm still getting a "Request timeout" and 503 on the `GET /auth/shopify/callback...` route

[2018-03-01 15:30] #55 closed

[2018-03-01 15:46] TheMallen opened #90 "Hot reload dev server"

[2018-03-02 02:42] theptrk commented on #86
@gkrinc  Does the unchanged app work on heroku for you after just this change?

[2018-03-05 01:52] TheMallen commented on #43
No longer relevant.

[2018-03-05 01:52] #43 closed

[2018-03-05 12:57] Ryan-Gordon commented on #61
Seeing as this is still open I took a crack at it and opened a PR :)

[2018-03-05 19:05] AWaselnuk opened #94 "Replace webpack config with parceljs"
[ParcelJS](https://parceljs.org/) offers a zero-config alternative to webpack without giving up any goodies. I've tried it in a personal project and got excellent results.

In the interest of getting things up and running even more quickly for app developers and keeping the bulk of this codebase focused on the Shopify-relevant items, I propose we switch out the webpack config for a parcel set up.

[2018-03-05 19:43] jonatannietoa commented on #86
Not works in Heroku, I can deploy it but does not work and crash.

[2018-03-06 06:39] agoldis commented on #77
That might be obvious, but on heroku the app runs with `NODE_MODE=production`, that's why this code:

[code]

tries to use (connect-redis)[https://www.npmjs.com/package/connect-redis] which by default is not configured.

For quick development purposes you can just override `store` to be aways `undefined`. Otherwise make sure to have working Redis client.

[2018-03-06 07:27] theptrk commented on #77
Yeah I set up redis and used the code from @julien-mamalian and it successfully connects to the redis server but still timeouts on the callback route. I also had to move some dev dependencies into dependencies because of the ‘NODE_ENV’ is production.

[2018-03-06 07:38] agoldis commented on #77
@theptrk Just in case... you could use heroku config variables `NPM_CONFIG_PRODUCTION=false` or `YARN_PRODUCTION=false` to prevent pruning dev dependencies

[2018-03-07 15:25] TheMallen commented on #94
Yeah I think this is a good choice as well.

[2018-03-10 03:49] kaisinli opened #96 "How do I test React portion without connecting it to my domain?"
I have a domain already but currently it's a page asking users to sign up for a mailing list. How can I start building the front end without having to connect my domain?

[2018-03-11 22:25] hpawe01 commented on #88
Hey @deanfields,

I ran into the same problem and found a solution (see https://github.com/Shopify/shopify-express/issues/60). It still uses the same redis session, but additionally checks, if the shop that performs the request is the same that is stored in the session. Otherwise it restarts the oauth process.

When I apply those changes locally, it works. Hope that helps.

[2018-03-11 22:37] deanfields commented on #88
Thanks very much @hpawe01 I will check this out and test it both locally and on Heroku

[2018-03-12 00:12] theptrk commented on #86
@gkrinc super good info, i finally got heroku working

[2018-03-12 16:24] TheMallen commented on #96
We have a help article that can help you :) https://help.shopify.com/api/tutorials/building-node-app#step-1-expose-your-local-development-environment-to-the-internet

[2018-03-12 16:27] TheMallen commented on #88
Yep this is a bug with `@shopify/express`, if you clear your cookies or use an incognito tab it would also work.

@hpawe01's solution might end up being used :)

[2018-03-12 22:47] sjt-mbed commented on #77
I was deploying on Google App Engine and ran into the same issue. @julien-mamalian solution worked for me. I had to setup an instance on redislabs hosted service following instructions here https://cloud.google.com/community/tutorials/nodejs-redis-on-appengine

My forked code base with associated code changes can be found here https://github.com/sjt-mbed/shopify-node-app/blob/master/server/index.j

[2018-03-13 02:49] theptrk commented on #77
@agoldis thanks, i didnt realize NPM_CONFIG_PRODUCTION is an option

[2018-03-13 16:28] #45 closed, assigned to jamiemtdwyer

[2018-03-14 00:59] eddyparkinson commented on #73
SHOPIFY_APP_SECRET = undefined
----
I get same error as invertedsoftware

error:

**adding:**
`console.log('SHOPIFY_APP_SECRET:'+ SHOPIFY_APP_SECRET);
`

**gives:**
SHOPIFY_APP_SECRET:undefined

on Windows 10 with cygwin.

[2018-03-15 04:51] theptrk opened #98 ""Your webhook is failing" emails"
I've been actively developing an app using `ngrok` and have had multiple public urls.

I believe webhooks are automatically created and now I have a ton of emails saying that webhooks to those now expired urls are still receiving requests.

![screen shot 2018-03-14 at 9 46 57 pm](https://user-images.githubusercontent.com/5618025/37444903-9567035e-27d1-11e8-8b3d-aa5e63adb31c.png)

I've checked the

[2018-03-15 11:24] BarryCarlyon opened #99 "ShopifyExpress breaking changes (1.0.0-alpha.7)"
In package.json

Installs 1.0.0-alpha.7 as that's currently available.

v.7 appears to have introduced a number of changes that cause this repo to hang and not load at all (until nginx in front of mine, times out).

v.7 also changes the auth/callback URL's. (mostly irrelevant but worth noting)

Since shopify-express is basically "in progress", should shopify-node-app either a) keep up with shopify

[2018-03-15 12:14] BarryCarlyon commented on #98
`Settings > Notifications > Webhooks` only shows store/admin created webhooks.

To unregister development webhooks either just ride the email spam and let shopify self nerf.

Or manually call the webhooks list/delete endpoint as described here:

https://help.shopify.com/api/reference/webhook

Consider adding a boot function to your app that

- GET /admin/webhooks.json

And then

- DELETE /admin/we

[2018-03-16 18:24] dturton commented on #99
same here

[2018-03-19 08:10] sandys opened #102 "How to use image/files from shopify as banners"
hi,
I see there is an API available to get images - https://help.shopify.com/api/storefront-api/reference/object/image .
I'm assuming this is through the files upload, however I'm not able to get it to work. Can you show an example of how it is supposed to be used ?

[2018-03-20 12:00] DanWebb commented on #82
Can confirm updating node fixed things for me, seems to be to do with the keepAliveTimeout setting on the server in Node 8.0 - 8.4 as [this issue](https://github.com/expressjs/express/issues/3392) explains in more detail.

If you don't want to update node for whatever reason you could add something like `server.keepAliveTimeout = 120000 * 5;` to line 11 in /bin/www.js instead.

[2018-03-22 07:47] #96 closed

[2018-03-22 15:39] AntoineGrenier commented on #77
@theptrk That have fixed your issue? I still have the error 503 and Request timeout on Heroku after I change the config variables.

[2018-03-23 17:10] ranjitatwal30 commented on #86
@gkrinc changed my package.json as per your solution on a fresh clone, but still application error with heroku. Hope you can help.

[2018-03-24 02:01] tinnguyenz commented on #86
@ranjitatwal30 could you tell which part it failed in your Heroku deployment?

[2018-03-24 03:48] ranjitatwal30 commented on #86
Here's the build log:

-----> Node.js app detected
-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error
       NODE_VERBOSE=false
       NODE_ENV=production
       NODE_MODULES_CACHE=true
-----> Installing binaries
       engines.node (package.json):  >= 8.1.0
       engines.npm (package.json):   unspecified (use default)
       engines.yarn (package.json):  unspecified (use defau

[2018-03-24 05:27] theptrk commented on #86
Can you show the heroku logs?

Patrick

[2018-03-24 14:19] ranjitatwal30 commented on #86
@theptrk

That build log is the Heroku log.

[2018-03-24 15:14] tinnguyenz commented on #86
@rohanraj93 I believe you just posted deployment log, the log we're looking for is Application Log, found in https://dashboard.heroku.com/apps/<<your_app_name>>/logs

[2018-03-24 15:17] ranjitatwal30 commented on #86
@tinnguyenz

Sorry my bad.

Here's the application log:

2018-03-24T10:52:23.386389+00:00 app[web.1]: 🚀 Now listening on port 3000
2018-03-24T10:53:01.979841+00:00 heroku[web.1]: Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch
2018-03-24T10:53:01.979941+00:00 heroku[web.1]: Stopping process with SIGKILL
2018-03-24T10:53:02.138410+00:00 heroku[web.1]: Sta

[2018-03-24 16:01] ranjitatwal30 commented on #86
Finally got it working

The port was harcoded to 3000 into app, changed it to process.env.PORT

[2018-03-24 17:00] theptrk commented on #86
Awesome. Yeah I noticed that in the log. Maybe this could eventually be a pull request to check for the SHOPIFY_PORT env, then PORT then default to a number.

Patrick

[2018-03-24 19:11] rohanraj93 commented on #86
Hey guys - hope all is well. I think you might've meant to tag Rohan
Kanjani?
ᐧ

On Sat, Mar 24, 2018 at 1:00 PM, Patrick Tran <notifications@github.com>
wrote:

--

Rohan Raj

Business Development - Product & Channel Partnerships at Shopify
<http://www.shopify.com/>

<https://www.shopify.com?utm_medium=email&utm_campaign=employee>
<https://www.facebook.com/shopify> <https://twitter.com/shopify>
<

[2018-03-25 09:20] tinnguyenz opened #103 "ES6 syntax is not compiled by Babel"
Hey guys,

Has anyone configured Babel and Webpack for ES6 compilation? I got this error for arrow fuction:

[2018-03-25 11:43] tinnguyenz commented on #103
I Got this.
Added a Babel plugin in PR [#104](https://github.com/Shopify/shopify-node-app/pull/104) to solve this issue.

[2018-04-01 21:40] leonanluppi opened #105 "Custom style"
Hi,

How can i set a custom .css file for the project?

[2018-04-02 22:36] pbrink231 opened #106 "404 page on embeded app"
Hello, I am having an issue that I dont understand or how to track it down.

Fresh install.  Shop is authenticated.  I then get forwarded to the embeded app inside the store admin page.

The page shows my app name at the top.  then it shows this as the page:

[code]

I am using ngrok for forwarding which worked fine because everything was athenticated.  I see the requests coming in on the terminal

[2018-04-03 01:03] pbrink231 commented on #106
Bad setup for my app url.  please ignore.

[2018-04-03 01:03] #106 closed

[2018-04-05 04:16] stevenanthonyrevo opened #107 "React Input Field - requestFields"
Is there an example repo/gist for showing how to use the `requestFields variable` directly with Shopify's API?

Having an issue accessing the params without the "Request Params" Input Field UI being visible to the user?

[code]
Looking to create an input field that updates/edits a specific param within the Request Object above.

Let me know if this is possible, Cheers!

[2018-04-10 16:01] theptrk commented on #98
Thanks!

[2018-04-10 16:01] #98 closed

[2018-04-11 19:17] SeanPrashad commented on #94
Hey everyone - I'm a new contributor and would love to help out with this! I'm new to Parcel but I've done some reading and I think we need to update the `build` command in `package.json` and remove webpack from the package.json and config file.

I'll go ahead and open a PR to get started ✌🏽

[2018-04-12 04:21] artem-alek opened #109 "Oauth error invalid_request: The redirect_uri is not whitelisted"
After following all the directions and use ngrok. I have the install page showing but after entering my shop url I get a opps something went wrong "Oauth error invalid_request: The redirect_uri is not whitelisted". I am unable to get past the install page. I have checked all my redirect in Shopify partner and all of it is following '{HOST}/shopify/auth/callback'. Anyone else have had issues with t

[2018-04-12 04:28] artem-alek commented on #69
Im having a similar issue but I can't get pass the install page. I keep getting a `Oauth error invalid_request: The redirect_uri is not whitelisted`. I have the proper redirect of `{HOST}/shopify/auth/callback`. Anyone else experience this?

[2018-04-12 12:28] roeku commented on #109
I just installed it too. It looked like I had a "/" too much in the redirect_uri.
So instead of { HOST }/auth/shopify/callback it was { HOST }//auth/shopify/callback
If you remove one of the / in the URL the app will install. Not sure where the extra / is coming from yet.

[2018-04-13 01:34] vmundhra commented on #109
@artem-alek The Whitelisted redirection URL(s) should be **{ HOST }/auth/shopify/callback** and not **{HOST}/shopify/auth/callback**. Note the 'auth' is before 'shopify' in the url.

[2018-04-13 22:51] artem-alek commented on #109
@vmundhra I double checked and added that path too on the whitelist of partners, and still having the issue. I noticed that my web pack is returning /shopify/auth?shop={HOST} and is getting a 304. Not sure what else I can do.

[2018-04-14 00:17] leonanluppi opened #110 "Standalone App"
Hi,

If I want to create an external app instead of embedded app.

Is it possible?

[2018-04-17 20:54] buyandfly7 opened #111 "403 error carrier_services.json"
carrier_services.json returns 403 forbidden error.

Scope is correct (
  scope: ['write_orders, write_products, read_shipping, write_shipping']
)
Works fine with products.json endpoint.
Testing on development store.

What can be the problem?

[2018-04-18 15:40] protonhs opened #112 "The engine "node" is incompatible with this module. Expected version ">= 8.1.0"."
After yarn install I get this :

[1/5] 🔍  Validating package.json...
error shopify-node-app@0.0.0: The engine "node" is incompatible with this module. Expected version ">= 8.1.0".

but my node version is actually 9.11 , and when I try to update it :
Error: node 9.11.1 already installed

Any help?

[2018-04-20 08:05] #112 closed

[2018-04-20 09:21] protonhs opened #113 "main.js not loading"
Hello,
I successfully passed all the steps , and when I launched the app, installation went smoothly, everything went well except for the last thing : loading main.js
I see an empty app that nevers fully load in my app page, and in ngrok the ok message never appears :
GET /assets/main.js
GET /                          200 OK

I attached a screenshot of what I see in the app page, it never fully lo

[2018-04-25 05:58] rucsacman opened #114 "error-Not Found: The page you were looking for does not exist."
I tried to install app and i got this error how can i fix
![screenshot from 2018-04-25 11-22-41](https://user-images.githubusercontent.com/28048953/39228409-b104d044-487b-11e8-986d-bc3a45e9b3f2.png)
![screenshot from 2018-04-25 11-24-40](https://user-images.githubusercontent.com/28048953/39228410-b44ba368-487b-11e8-93eb-f95939590b54.png)

[2018-04-26 23:10] leonanluppi commented on #109
Any update about that?

Same issue here

[2018-04-27 01:31] leonanluppi commented on #69
@artem-alek  see https://github.com/Shopify/shopify-express/pull/82

[2018-04-27 17:24] leonanluppi commented on #109
@juanpprieto

I solved this issue on shopify-express package. See: https://github.com/Shopify/shopify-express/pull/82

[2018-04-28 19:58] artem-alek commented on #109
@juanpprieto yes my issue was with the .env too. I had the correct address, but I forgot to add `https://` in front of the url. So my `SHOPIFY_APP_HOST` is now `"https://{HOST}"`

[2018-04-29 20:31] buyandfly7 commented on #111
Found a solution. These urls are disallowed in Shopify-Express module.

`const DISALLOWED_URLS = [
  '/application_charges',
  '/application_credits',
  '/carrier_services',
  '/fulfillment_services',
  '/script_tags',
  '/storefront_access_token',
  '/webhooks',
  '/oauth',
];`

[2018-05-10 11:35] rucsacman opened #115 "cant create or get Script tags"
I had change scope and try to create script tag but im unable to create script tag
`action REQUEST_ERROR @ 17:02:57.110
redux-logger.js:1:5935
 prev state
Object { requestFields: {…}, requestInProgress: true, requestError: null, responseBody: "" }
redux-logger.js:1:6174
 action
Object { type: "REQUEST_ERROR", payload: {…} }
redux-logger.js:1:6294
 next state
Object { requestFields: {…}, requestInP

[2018-05-11 14:49] youssseeef commented on #88
Has this bug been solved in the current release? I can try to push a PR for it since I'm using both modules in one of my apps.

[2018-05-20 22:33] idiazroncero opened #117 "Upgrade to Polaris 2.0"
After banging my head against a lot of errors that came out when trying to use _ResourceList_ and not finding any docs for _EmbeddedApp_ components, I finally realized that I was reading the official Polaris docs (v2.x) while shopify-node-app has remained stuck on v1.8.3. It's easy to get confused...

Is there any plan for upgrading to Polaris 2.x?

[2018-05-21 19:39] swapkats opened #118 "Hot reload broken"
Issue: nodemon by default watches `*.*` all files. Any changes in client files or webpack build files now cause nodemon to restart. This breaks the hot reload since webpack-dev-middleware works serves from memory.

Fix: To make this work nodemon should ignore changes to client files/webpack build files.

[2018-05-24 16:11] nilocortex commented on #117
Just encountered the same wall, the components I need are in 2.0.0 but this repo is still on 1.8.3

[2018-05-26 17:30] jstoeffler commented on #43
Hi. Can I ask why this is no longer relevant? Has this option been removed? Because the value is still declared : https://github.com/Shopify/shopify-node-app/blob/master/.env.example

Should it be removed?

[2018-05-29 16:04] dan-gamble commented on #69
I'm getting this issue also, whenever i reload because the HMR doesn't seem to work it asks me to install again. Any ideas as to the fix?

[2018-05-30 04:40] codepressd commented on #114
Mine looks a little different but a similar error. i got the app installed but when I try to navigate to it I get this page. Any Ideas?
![shopify](https://user-images.githubusercontent.com/15281143/40699385-cf529a9a-6388-11e8-87e9-406b0eb53d15.png)

[2018-06-02 21:07] MatiasFMolinari commented on #84
I had the same inference. @abohannon did you ever figure out how to setup a dynamic app url so that you can easily switch environments?

[2018-06-03 18:40] abohannon commented on #84
@MatiasFMolinari I didn't. I ended up going a different route, but I believe with Ngrok you have to initiate a new local tunnel each time, unless you pay for the fixed tunnel which doesn't change. I've used localtunnel (https://localtunnel.github.io/www/) before and at the time they offered free fixed tunnels, so you might give them a shot.

[2018-06-05 07:44] rinkeshclag opened #121 "Not Found Error"
I have setup app into Shopify. After successful install,  when I click on my app it will show error 404.

![image](https://user-images.githubusercontent.com/39943936/40962141-4f69e024-68c2-11e8-8308-982eb0fef180.png)

Please guide me what step I need to take to fix this bug.

Thanks

[2018-06-14 15:43] serhatv commented on #113
hi, i have same problem. Did you find any solution?

[2018-06-18 00:41] jfrankdev commented on #121
having the same issue

[2018-06-18 14:38] weblegend15 opened #122 "How can I get Shopify Webhook HMAC?"
Hi, hope you are doing well. I am developing the Shopify app using your source code.
I am using webhook on Shopify with this app. so I've added the webhook on Shopify admin and test the webhook.

But it said
[code]

How can I fix it?
Look forward to hearing from you soon

[2018-06-20 00:54] dompenn2010 commented on #117
Meh, seems like there's been many more changes than this PR will cover.

The introduction of the Admin api and much more.

My apologies but #120 won't do the trick anymore.

[2018-06-21 20:59] pjatx commented on #113
Happens intermittently for me. If you go back to the app screen and then click the app from the Shopify UI it usually fixes it.

[2018-06-24 19:12] pjatx opened #123 "Correct way to make new api calls?"
Hey Guys,

A bit of a node N00B and trying to set up a simple carrier service  that will provide different shipping rates to our wholesale customers.

To accomplish this, I need to loop through the items in the cart and check to see if see if their tags array contains a specific tag. I've been really struggling with making API calls within a new post route I've set up, mainly because I'm not sure

[2018-06-24 20:44] pjatx commented on #86
Is anyone else having issues with Heroku barfing on the sqlite3 dependency? I've tried all the solutions here with no luck: https://github.com/mapbox/node-sqlite3/issues/758

[2018-06-28 20:44] internationalhouseofdonald opened #124 "nodemon keeps running the wrong scripts"
Whenever I try to run either `npm start` or `yarn run start` or `nodemon ./bin/www`, it starts running the same script over and over again while appending an extra ` ./bin/www` to the end of the script.
[code]

[2018-06-28 21:01] internationalhouseofdonald commented on #124
I'm uninstalling and reinstalling nodemon. Apparently, I had forgotten to run `npm install` before trying to run `npm start`.

[2018-06-28 22:04] internationalhouseofdonald commented on #124
Now I'm getting this:

[code]

[2018-07-02 11:21] inomn commented on #115
@BrianSullivan425 @rucsacman
1) You must delete `script_tags` from `DISALLOWED_URLS` in shopify-express package, or you can use my fork with some error fixes:  https://github.com/inomn/shopify-express

2) You must add `read_script_tags, write_script_tags` in `shopifyConfig.scope` in this project ( https://github.com/Shopify/shopify-node-app/blob/master/server/index.js#L31 )

[2018-07-03 08:22] theonlydaleking commented on #86
in order to get mine to deploy to heroku i had to make it production ready. Not only moving things to dependancies as mentioned above, screwing around with babel a bit and i also took hot reloader out of the react app. I'm going to do a PR to sort out the hot-reloader issue when not in production.

[2018-07-05 08:59] nemoeric commented on #117
Really weird this topic has not been answered.

Not being able to use Polaris 2.0 makes this entire Shopify-node-app template way less useful ...
I have the exact same issue

[2018-07-05 23:44] dompenn2010 commented on #117
@nemoeric looks like a Shopify dev seems to think #120 might do the trick after all, they just had me upgrade it to Polaris `2.3.1` so 🤞

[2018-07-06 00:19] #117 closed

[2018-07-14 21:39] dejesus2010 commented on #86
@pjatx Yea, I'm getting the issue as well.

I ended up just forking the @Shopify/shopify-express repo, removing the sqlite3 dependency since it's not _really_ needed if you don't use the SQLStrategy for saving the ShopifyConfig object, creating an npm package, and just pulling in my forked module...

Certainly not a good solution, but I'm stuck and this is preventing me from continuing my developm

[2018-07-15 01:08] theptrk commented on #86
Wow. Nice work.

Patrick

[2018-07-15 21:34] pjatx commented on #86
@dejesus2010 Yeah haha, I went through about 20 commits before getting it to work. Don't remember exactly what I did, but I did something similar including removing babel-preloader.

Glad you got it working as well!

[2018-07-18 19:04] AKarmanov opened #125 "Build fails"
Original clone of repository complains about:
```upath@1.0.4: The engine "node" is incompatible with this module. Expected version ">=4 <=9". (installed node version: 10.6.0)```

The solution is to remove yarn.lock and rebuild but that results in :
```node-pre-gyp ERR! Tried to download(403): https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v3.1.13/node-v64-darwin-x64.tar.gz```

Any ideas on ho

[2018-07-23 21:43] geraintf commented on #125
Having the same problem

[2018-07-24 10:59] geraintf commented on #125
I get this issue when pushing to heroku but is fine running locally. My guess would be I have whatever module is being requested locally cached and is failing for any new install.

[2018-07-24 14:04] Werbelow commented on #125
Same here, pushed to heroku and had this issue. It shouldn't need sqlite if I am not using that strategy correct?

[2018-07-24 14:44] Werbelow commented on #125
I was able to resolve this. I made sure my local and Heroku node versions matched up. Heroku was trying to use some version of 10, which sqlite 3 doesn't seem to work.

Locally I was using 8.9.1, so I set that same version for Heroku and it all worked :)

[2018-07-26 18:02] AKarmanov commented on #125
I ended up updating sqlite version to ^4.x.x in shopify-express module as that was causing my issue. The one used in the module is deprecated.

[2018-07-26 19:31] Avidexp commented on #123
I've been looking for a similar answer for a while. Let me know if you find out something! I can get it hitting my custom URL for rates, but it never renders the response of my api as valid rates to choose from...

[2018-07-26 19:45] pjatx commented on #123
@Avidexp Did you register the carrier service first?

https://help.shopify.com/en/api/reference/shipping_and_fulfillment/carrierservice#create

[2018-07-26 21:13] Avidexp commented on #123
Yes sir I did,

I ended up getting it to work. I had my rates in just an array, not an
array wrapped in an object.

Ex.

[{
'service_name': 'Globaltranz Fast',
'description': 'fastest rate',
'service_code': 'GTZ',
'total_price': '100000.80',
'currency': 'USD',
'min_delivery_date': '2018-07-28 14:48:45 -0400',
'max_delivery_date': '2018-07-30 14:48:45 -0400'
}

rather than
{
"rates":[{
'service_nam

[2018-07-26 21:15] pjatx commented on #123
Ah the little things : ) Did you by chance use this library? Curious to see what your code looks like. I ended up writing mine with the node express library instead as a private app vs a public one.

[2018-07-26 21:20] Avidexp commented on #123
So I actually made a public one doing the same thing with express lol. I found it was easier to eliminate some of the noise, and just try to build it out one step at a time, rather than using the template.

I can create/edit/delete carrier services no problem now, and I can pass back static rate information that gets procesed by shopify so the user can pick the rate. The only problem I'm having no

[2018-07-26 21:32] pjatx commented on #123
I can't quite remember now, but I can show you what I'm doing to loop through the cart items. I'd recommend using bodyParser.

[code]

[2018-07-26 21:53] Avidexp commented on #123
bodyParser!!

Can't believe I forgot that! You're amazing pjatx, thanks man!!

[2018-07-26 22:05] pjatx commented on #123
No worries man! Glad I could be helpful. I beat my head on this project for a long time : )

[2018-07-27 02:45] theonlydaleking commented on #114
@codepressd you get this after an uninstall? It'll work if you open in an incognito browser. Looks like something is stored locally that bypasses auth.

[2018-07-29 12:57] santoshkpragiti commented on #125
Facing Issue on after running **git push heroku master**
Tried after after updat sqlite3 version but still same issue.
Can someone face same issue annd give solution for this.
Below are console logs

 -----> Creating runtime environment

        NPM_CONFIG_LOGLEVEL=error
        NPM_CONFIG_PRODUCTION=true
        YARN_PRODUCTION=true
        NODE_VERBOSE=false
        NODE_ENV=production
        N

[2018-07-30 10:13] jonatannietoa opened #126 "Retrieve Orders and Modify it"
Hello,

I am using the app to create Tracking numbers of **Orders** that app received through **Orders View**. Now we are selecting N orders and sending it to our app. Now we are using Private App Credentials to get info and modify each order... because I can not retrieve info using App credentials, like this:

<img width="765" alt="captura de pantalla 2018-07-30 a las 12 29 29" src="https://user-

[2018-08-03 10:22] Noostop opened #127 "[DEP0005] DeprecationWarning: Buffer() is deprecated"
C:\Users\YS\Desktop\app>yarn install
yarn install v1.7.0
[1/5] Validating package.json...
[2/5] Resolving packages...
⠁ (node:14464) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
[3/5] Fetching packages...
error upath@1.0.4: The engine "node" is incompatible with this

[2018-08-03 14:04] letsbelopez commented on #121
Just started working with this repo. New clone, new app and I'm getting this 404 error.

[2018-08-03 14:47] letsbelopez commented on #121
When I had this issue, it was because my App URL was wrong the the app setup page.

[2018-08-07 06:26] daniel-farina commented on #115
fyi to use @inomn  package with his mods:

npm install git+https://github.com/inomn/shopify-express.git

or in your package.json

[code]

then do yarn install (twice)

Thank you @inomn . I tested it and it's working.

[2018-08-10 03:17] mitchellporter commented on #121
Had the same issue as @letsbelopez. Made me realize why my previous setup using passportjs was acting strange. I had set the app URL as the initial auth URL.

[2018-08-15 18:44] BPScott commented on #127
This is deprecation warnings within Yarn when you're using node v10.See this issue https://github.com/yarnpkg/yarn/issues/5477. This is fixed in yarn but not yet released.

[2018-08-15 18:44] #127 closed

[2018-08-16 20:32] awhitehouse104 commented on #125
Deleting upath from yarn.lock and allowing it to install a newer version worked for me.

[2018-08-24 15:38] c2vasu opened #129 "Docker"
Hi Guys,

I am a bit N00B to Webpack, React, Redux, and Shopify/polaris, as I wanted to host this app as a containerized version,  can some please point me dockerized version of this shopify-node-app.

[2018-08-25 05:45] appjitsu commented on #121
yep its what @letsbelopez said above. make sure your app url is correct.

[2018-08-27 10:46] NikolaiT opened #130 "Cannot install on Ubuntu"
Cant install with yarn, sqlite seems to break.

[code]

[2018-08-29 05:09] RoadToCode822 opened #131 "HMAC validation failed"
I followed all of the instructions of shopify-node-app and got everything running on ngrok.

I went to the ngrok URL and I entered my shopify store's URL and pressed enter and I get the following message in a blank white page:

HMAC validation failed

This is the URL. I changed the ngrok URL to something else, for obvious reasons.

https://121223266b5.ngrok.io/shopify/auth/callback?code=31324296cb

[2018-09-03 05:00] sam-cnet commented on #131
Hi just wanted to take a stab and say it's likely your app secret that needs updating in your .env file.

[2018-09-05 04:14] vmundhra opened #133 "Create an authenticated rest api for online store"
I want to create an get/post API, that will be called from my store website using App proxy. But I'm not able to extract "**accessToken**" so as to instantiate the shopify-api-node client. The sample code in registerWebhook uses following

[code]
since it already has the "**accessToken**" from **afterAuth** callback. But if I create a new endpoint, how do I get the token?

[code]

I tried "**withS

[2018-09-06 19:00] blakel11 commented on #131
I am having the same problem. I have done this without using Shopify's boilerplate. It means the issue is with https://github.com/Shopify/shopify-express as this handles the hmac.

[2018-09-06 19:27] blakel11 commented on #131
@RoadToCode822 Good news. You have to update node most likely, nvm install 10.9.

Then go to package-lock.json and update the version of upath to 1.1 everywhere, remove the hash it will be wrong under upath["resolved"].
<img width="676" alt="screen shot 2018-09-06 at 12 26 31 pm" src="https://user-images.githubusercontent.com/4556267/45180402-25c85500-b1d0-11e8-87b2-4b9845621ef7.png">

[2018-09-09 19:04] vmundhra commented on #126
Hi @jonatannietoa

were you able to figure this out?

[2018-09-20 16:05] oortlieb opened #135 "`withWebhook` middleware seems incompatible with `/customers/data_request` mandatory webook"
I'm currently working on the mandatory webooks for my Shopify app. It looks like the `withWebook` middleware provides a response prior to forwarding the information to the next handler. For the erasure endpoints, this probably isn't a huge issue, because that will be a deferred job on our end anyway. What is the suggested way to implement the handler for the `/customers/data_request` webhook? It s

[2018-09-21 18:32] oortlieb commented on #135
After reading the docs a bit closer, it looks like I was incorrect about needing to provide the customer data to the request. In this case, the 200 response from the `withWebhook` handler should be fine. The endpoint just needs acknowledge the request so that a data collection process can be executed asynchronously.

[2018-09-21 18:32] #135 closed

[2018-09-24 14:40] Nisthar commented on #77
@julien-mamalian is it possible to use postgres for db storage and redis for sessions?

[2018-09-24 17:55] Nisthar opened #136 "Uncaught SyntaxError: Unexpected token <"
I am getting this error when hosting my app on heroku

It says:

`Uncaught SyntaxError: Unexpected token < - main.js`

The main.js contains the html instead of javascript.

I think express is returning the app.ejs file when requesting for main.js file.

It works in my localhost fine. It returns the contents of main.js file.

Sorry for my bad english.

[2018-09-25 06:41] Nisthar commented on #136
Ok, I found the issue. As i expected, heroku is not building the javascript files. I have tried `yarn run build`

It builds the files. But its not storing the build file.

[2018-10-10 18:32] wuichen commented on #70
when i run the example, im getting this error in the console.
[code]

heres the code i use to define the scope
[code]

i have included read_orders, write_orders, write_products in the scope. however, only write products show up when i try to install the local dev app on my development store. the app im trying to build is a sales channel app. am i missing anything?

[2018-10-27 21:11] LegendHunter opened #137 "Heroku Bot stops working all of a sudden"
My bot on heroku stopped working all of a sudden it's been working since yesterday and before

[2018-11-11 02:33] jfrankdev opened #138 "Unable to retrieve contents of specific assets via asset API"
I am working on creating an app with this repo. Everything is working great in retrieving product data and some data about assets but I am having trouble with retrieving the contents of asset files.

For example, this call works perfectly in retrieving a complete list of theme assets as an object:

https://72926fc0.ngrok.io/shopify/api/themes/38307725370/assets.json

However if I wish to make a ca

[2018-12-16 20:32] gasston commented on #113
Hello ,  i have same problem. Did you find any solution?
thx

[2019-01-03 14:19] Nisthar commented on #114
@theonlydaleking I am having the same issues. Any permanent solutions?

[2019-01-07 18:08] manmeet-k opened #139 ""One of your dependencies may have a security vulnerability" email"
Hi,

I received an email with this information:

![image](https://user-images.githubusercontent.com/43784447/50785083-8c907480-127d-11e9-8495-ab2d3f0c22f1.png)

![image](https://user-images.githubusercontent.com/43784447/50784972-489d6f80-127d-11e9-88ac-ea8fcc9ad476.png)

Please advise what I need to do.

[2019-02-04 14:48] Nisthar opened #140 "Is it possible to use prisma and graphql with this?"
Is it possible to use prisma and graphql with this?

[2019-02-20 15:49] nemoeric commented on #133
exact same problem !

[2019-05-06 07:42] smudge1307 commented on #109
Is the problem that  it should be 'https'  but you use 'http'?

[2019-05-06 08:00] smudge1307 commented on #109
Is the problem that it should be 'https' but you use 'http'?

[2019-05-06 08:00] smudge1307 commented on #109
Is the problem that it should be 'https' but you use 'http'?

[2019-05-31 14:33] nwtn commented on #109
Closing because this project is now deprecated.

[2019-05-31 14:33] #109 closed

[2019-05-31 14:34] nwtn commented on #133
Closing because this project is now deprecated.

[2019-05-31 14:34] #133 closed

[2019-05-31 14:34] nwtn commented on #140
Closing because this project is now deprecated.

[2019-05-31 14:34] #140 closed

[2019-05-31 14:34] nwtn commented on #139
Closing because this project is now deprecated.

[2019-05-31 14:34] #139 closed

[2019-05-31 14:34] nwtn commented on #114
Closing because this project is now deprecated.

[2019-05-31 14:34] #114 closed

[2019-05-31 14:34] nwtn commented on #113
Closing because this project is now deprecated.

[2019-05-31 14:34] #113 closed

[2019-05-31 14:34] nwtn commented on #138
Closing because this project is now deprecated.

[2019-05-31 14:34] #138 closed

[2019-05-31 14:34] nwtn commented on #136
Closing because this project is now deprecated.

[2019-05-31 14:34] #136 closed

[2019-05-31 14:34] nwtn commented on #77
Closing because this project is now deprecated.

[2019-05-31 14:34] #77 closed

[2019-05-31 14:34] nwtn commented on #123
Closing because this project is now deprecated.

[2019-05-31 14:34] #123 closed

[2019-05-31 14:34] nwtn commented on #126
Closing because this project is now deprecated.

[2019-05-31 14:34] #126 closed

[2019-05-31 14:35] nwtn commented on #131
Closing because this project is now deprecated.

[2019-05-31 14:35] #131 closed

[2019-05-31 14:35] nwtn commented on #130
Closing because this project is now deprecated.

[2019-05-31 14:35] #130 closed

[2019-05-31 14:35] nwtn commented on #121
Closing because this project is now deprecated.

[2019-05-31 14:35] #121 closed

[2019-05-31 14:35] nwtn commented on #129
Closing because this project is now deprecated.

[2019-05-31 14:35] #129 closed

[2019-05-31 14:35] nwtn commented on #125
Closing because this project is now deprecated.

[2019-05-31 14:35] #125 closed

[2019-05-31 14:35] nwtn commented on #115
Closing because this project is now deprecated.

[2019-05-31 14:35] #115 closed

[2019-05-31 14:35] nwtn commented on #86
Closing because this project is now deprecated.

[2019-05-31 14:35] #86 closed

[2019-05-31 14:35] nwtn commented on #122
Closing because this project is now deprecated.

[2019-05-31 14:35] #122 closed

[2019-05-31 14:35] nwtn commented on #88
Closing because this project is now deprecated.

[2019-05-31 14:35] #88 closed

[2019-05-31 14:35] nwtn commented on #69
Closing because this project is now deprecated.

[2019-05-31 14:35] #69 closed

[2019-05-31 14:35] nwtn commented on #118
Closing because this project is now deprecated.

[2019-05-31 14:35] #118 closed

[2019-05-31 14:35] nwtn commented on #110
Closing because this project is now deprecated.

[2019-05-31 14:35] #110 closed

[2019-05-31 14:35] nwtn commented on #94
Closing because this project is now deprecated.

[2019-05-31 14:35] #94 closed

[2019-05-31 14:36] nwtn commented on #75
Closing because this project is now deprecated.

[2019-05-31 14:36] #75 closed

[2019-05-31 14:36] nwtn commented on #107
Closing because this project is now deprecated.

[2019-05-31 14:36] #107 closed

[2019-05-31 14:36] nwtn commented on #105
Closing because this project is now deprecated.

[2019-05-31 14:36] #105 closed

[2019-05-31 14:36] nwtn commented on #103
Closing because this project is now deprecated.

[2019-05-31 14:36] #103 closed

[2019-05-31 14:36] nwtn commented on #82
Closing because this project is now deprecated.

[2019-05-31 14:36] #82 closed

[2019-05-31 14:36] nwtn commented on #102
Closing because this project is now deprecated.

[2019-05-31 14:36] #102 closed

[2019-05-31 14:36] nwtn commented on #99
Closing because this project is now deprecated.

[2019-05-31 14:36] #99 closed

[2019-05-31 14:36] nwtn commented on #61
Closing because this project is now deprecated.

[2019-05-31 14:36] #61 closed

[2019-05-31 14:36] nwtn commented on #90
Closing because this project is now deprecated.

[2019-05-31 14:36] #90 closed

[2019-05-31 14:36] nwtn commented on #35
Closing because this project is now deprecated.

[2019-05-31 14:36] #35 closed

[2019-05-31 14:36] nwtn commented on #76
Closing because this project is now deprecated.

[2019-05-31 14:36] #76 closed

[2019-05-31 14:36] nwtn commented on #59
Closing because this project is now deprecated.

[2019-05-31 14:36] #59 closed

[2019-05-31 14:36] nwtn commented on #68
Closing because this project is now deprecated.

[2019-05-31 14:36] #68 closed

[2019-05-31 14:37] nwtn commented on #60
Closing because this project is now deprecated.

[2019-05-31 14:37] #60 closed

[2019-05-31 14:37] nwtn commented on #52
Closing because this project is now deprecated.

[2019-05-31 14:37] #52 closed

[2019-05-31 14:37] nwtn commented on #49
Closing because this project is now deprecated.

[2019-05-31 14:37] #49 closed

[2019-05-31 14:37] nwtn commented on #48
Closing because this project is now deprecated.

[2019-05-31 14:37] #48 closed

[2019-05-31 14:37] nwtn commented on #41
Closing because this project is now deprecated.

[2019-05-31 14:37] #41 closed

[2019-05-31 14:37] nwtn commented on #44
Closing because this project is now deprecated.

[2019-05-31 14:37] #44 closed

[2019-05-31 14:37] nwtn commented on #11
Closing because this project is now deprecated.

[2019-05-31 14:37] #11 closed